* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

/* resizable.css */
.react-resizable-handle-e {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

/* resizable.css */
.react-resizable-handle-w {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

.sidebar-glass {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 100%;
  width: 100%;
}

.glass-blur-background {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  height: 20rem;
  width: 20rem;
  opacity: 0.2;
  background: var(--userMedium);
  background: radial-gradient(
    circle,
    var(--userMedium) 0%,
    rgba(121, 135, 241, 0) 38%,
    rgba(148, 186, 233, 0) 70%
  );
  filter: blur(20px);
  background-size: cover; /* Cover the whole area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the background */
  z-index: -1; /* Place it behind the sidebar content */
}
