* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

/* resizable.css */
.react-resizable-handle-e {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

/* resizable.css */
.react-resizable-handle-w {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

.theme-green {
  --color-primary-50: theme('colors.green.50');
  --color-primary-100: theme('colors.green.100');
  --color-primary-200: theme('colors.green.200');
  --color-primary-300: theme('colors.green.300');
  --color-primary-400: theme('colors.green.400');
  --color-primary-500: theme('colors.green.500');
  --color-primary-600: theme('colors.green.600');
  --color-primary-700: theme('colors.green.700');
  --color-primary-800: theme('colors.green.800');
  --color-primary-900: theme('colors.green.900');
}

.theme-red {
  --color-primary-50: theme('colors.red.50');
  --color-primary-100: theme('colors.red.100');
  --color-primary-200: theme('colors.red.200');
  --color-primary-300: theme('colors.red.300');
  --color-primary-400: theme('colors.red.400');
  --color-primary-500: theme('colors.red.500');
  --color-primary-600: theme('colors.red.600');
  --color-primary-700: theme('colors.red.700');
  --color-primary-800: theme('colors.red.800');
  --color-primary-900: theme('colors.red.900');
}

.theme-blue {
  --color-primary-50: theme('colors.blue.50');
  --color-primary-100: theme('colors.blue.100');
  --color-primary-200: theme('colors.blue.200');
  --color-primary-300: theme('colors.blue.300');
  --color-primary-400: theme('colors.blue.400');
  --color-primary-500: theme('colors.blue.500');
  --color-primary-600: theme('colors.blue.600');
  --color-primary-700: theme('colors.blue.700');
  --color-primary-800: theme('colors.blue.800');
  --color-primary-900: theme('colors.blue.900');
}
