* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

/* resizable.css */
.react-resizable-handle-e {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

/* resizable.css */
.react-resizable-handle-w {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}
