.react-resizable-handle-e {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

.react-resizable-handle-w {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

.sidebar-glass {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 100%;
  width: 100%;
}

.glass-blur-background {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  height: 20rem;
  width: 20rem;
  opacity: 0.15;
  background: var(--primary-dark);
  background: radial-gradient(
    circle,
    var(--primary-dark) 10%,
    rgba(121, 135, 241, 0) 38%,
    rgba(148, 186, 233, 0) 70%
  );
  filter: blur(20px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.thick-icon {
  stroke: currentColor;
  stroke-width: 0.5;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

/* Bird flapping */
@keyframes flapLeft {
  0%,
  100% {
    transform: rotateZ(3deg);
  }
  50% {
    transform: rotateZ(-4deg);
  }
}

@keyframes flapRight {
  0%,
  100% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(4deg);
  }
}

@keyframes bird {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes bubbles {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

.bird {
  animation: bird 6s infinite alternate;
  transform-origin: center;
}

.bubbles {
  animation: bubbles 6s infinite alternate;
  transform-origin: center;
}

.birdLeftWing {
  animation: flapLeft 6s infinite alternate;
  transform-origin: center;
}

.birdRightWing {
  animation: flapRight 6s infinite alternate;
  transform-origin: center;
}

/* App skeleton transition */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

/* Target the first and last cell of the last row for bottom rounded corners */
tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

tr td,
tr th {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.activeListItem {
  position: relative;
}

.activeListItem::after {
  content: '';
  position: absolute;
  width: 0.2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--primary);
}
