/* resizable.css */
.react-resizable-handle-e {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

/* resizable.css */
.react-resizable-handle-w {
  cursor: ew-resize;
  width: 15px;
  right: 0px;
  transform: rotate(180deg);
  height: 100%;
  top: 10px;
  bottom: 0;
  position: absolute;
  background: transparent;
}

.sidebar-glass {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 100%;
  width: 100%;
}

.glass-blur-background {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  height: 20rem;
  width: 20rem;
  opacity: 0.15;
  background: var(--primary-dark);
  background: radial-gradient(
    circle,
    var(--primary-dark) 10%,
    rgba(121, 135, 241, 0) 38%,
    rgba(148, 186, 233, 0) 70%
  );
  filter: blur(20px);
  background-size: cover; /* Cover the whole area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the background */
  z-index: -1; /* Place it behind the sidebar content */
}

/* Scrollbar */
/* This will style the corner of the scrollbar (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
  background: transparent; /* color of the corner of the scrollbar */
}

.thick-icon {
  stroke: currentColor;
  stroke-width: 0.5;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

/* Bird flapping */

@keyframes flapLeft {
  0%,
  100% {
    transform: rotateZ(3deg);
  }
  50% {
    transform: rotateZ(-4deg); /* Adjust rotation for left wing */
  }
}

@keyframes flapRight {
  0%,
  100% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(4deg); /* Adjust rotation for right wing */
  }
}

@keyframes bird {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes bubbles {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

.bird {
  animation: bird 6s infinite alternate; /* Adjust time as needed */
  transform-origin: center; /* Adjust pivot point as needed */
}

.bubbles {
  animation: bubbles 6s infinite alternate; /* Adjust time as needed */
  transform-origin: center; /* Adjust pivot point as needed */
}

.birdLeftWing {
  animation: flapLeft 6s infinite alternate; /* Adjust time as needed */
  transform-origin: center; /* Adjust pivot point as needed */
}

.birdRightWing {
  animation: flapRight 6s infinite alternate; /* Adjust time as needed */
  transform-origin: center; /* Adjust pivot point as needed */
}

/* App skeleton transition */

/* Add this to your stylesheet */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms; /* Adjust duration as needed */
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms; /* Adjust duration as needed */
}
